.bg-drak_blue {
    background-color: #223c66!important
}
.navbar-brand {
    width: 100px;
	padding-bottom: -0.85rem!important;
    padding-top: -0.85rem!important;
}

.navbar-brand-img {
    max-height: 3.4rem!important;
}
.navbar-text {
    color: #d0d0d0!important;
	line-height: 1.2!important;

}
.navbar-text a:link, a:visited, a:hover, a:active {
    text-decoration: none!important;
	cursor: pointer; 
}
.navbar-text hover {
    text-decoration: none;
}

.bg-light_blue {
    background-color: #1a5f89!important;
}
.text-gray-200A {
    color: #223c66!important;
}
.text-darkA {
    color: #223c66!important;
}
.img-fluidA {
    max-width: 65%!important;
}
.icon>svg {
    height: 5rem!important;
    width: 5rem!important;
}
.welcomtext{
	font-weight:bold!important;
	font-size: 4rem;
}
.nav-menu {
    color: #d0d0d0!important;
}
.nav-space{
	margin: 0 20px;
}
@media (max-width: 991.98px){
.display-3 {
    font-size: 2.10rem!important;
}
	.navbar-text {
     color: #335eea!important;
}
	.welcomtext{
	font-weight:bold!important;
	font-size: 3rem;
}
	.nav-menu {
    color: #335eea!important;
}
	.nav-space{
	margin: 0 0px;
}
	}