.bg-drak_blue {
    background-color: #223c66!important;
}
.navbar-brand {
    width: 81px;
}
.navbar-light .navbar-nav .nav-link {
    color: #d0d0d0!important;
}
.bg-light_blue {
    background-color: #1a5f89!important;
}
.text-gray-200A {
    color: #223c66!important;
}
.text-darkA {
    color: #223c66!important;
}
.img-fluidA {
    max-width: 65%!important;
}
.text-gray-700 {
    color: #ffffff!important;
}
.icon>svg {
    height: 5rem!important;
    width: 5rem!important;
}

@media (max-width: 991.98px){
.display-3 {
    font-size: 2.10rem!important;
}
	}